.displayScreen{
  font-size: 20px;
}
code{
  background-color: white;
}
pre{
  background-color: white;
  font-family: monospace ;
  font-size: 16px;
  margin: 10px;
}
a{
  color: blue;
  text-decoration: none;
  font-size: 24px;
}
li{
  padding: 30px;
}