.editContainer{
  width: 60%;
  height: 40%;
  margin: auto;
  margin-top: 2%;
  background-color: white;
  border: 1px solid;
  display: block;
}
@media screen and (max-width:600px) {
  .editContainer{
    width: 85%;
  }
}