.previewContainer{
  width: 80%;
  min-height: 50%;
  background-color: yellow;
  border: 1px solid;
  margin: auto;
  margin-top: 2%;
  display: block;
  position: absolute;
  left: 10%;
}
@media screen and (max-width:600px) {
  .previewContainer{
    width: 95%;
  }
}