.taskbarChildren{
  width: 100%;
}
#headingEdittor, #headingPreview{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 20px;
}
#iconsContainerEdittor, #iconsContainerPreview{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-left: -5%;
  font-size: 18px;
}